@font-face {
  font-family: "Regular";
  src: local("Poppins-Regular"),
    url("./fonts/Poppins/Poppins-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "SemiBold";
  src: local("Poppins-SemiBold"),
    url("./fonts/Poppins/Poppins-SemiBold.ttf") format("ttf");
}
@font-face {
  font-family: "Light";
  src: local("Poppins-Light"),
    url("./fonts/Poppins/Poppins-Light.ttf") format("ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');